<!-- START THE FEATURETTES -->
<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">Hilo Erosión EDM</h2>
    <p class="lead">En MICAP, destacamos en la fabricación de piezas de alta precisión mediante corte por hilo EDM. Nuestra experiencia en diseño CAD y nuestras tres máquinas de última generación garantizan resultados excepcionales, especialmente en la producción de troqueles.
    </p>
  </div>
  <div class="col-md-5">
    <img src="assets/img/images-500/imagen_prueba.jpg" alt="imagen_1" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
    <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
      xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
      preserveAspectRatio="xMidYMid slice" focusable="false">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%"
        fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
    </svg> -->
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading fw-normal lh-1">Centro de Maquinado CNC</h2>
    <p class="lead">Nuestra experiencia en mecanizado CNC ha ampliado significativamente nuestro alcance en el sector industrial, con un enfoque especial en la fabricación de moldes para la industria automotriz.</p>
  </div>
  <div class="col-md-5 order-md-1">
    <img src="assets/img/images-500/Imagen_8.jpg" alt="imagen_1" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">Soldadura Láser (LBW)</h2>
    <p class="lead">La soldadura láser (LBW) nos ofrece uniones de alta precisión sin comprometer la integridad del material. Certificados por AWS, aplicamos este proceso en el sector aeronáutico, garantizando resultados excepcionales.</p>
  </div>
  <div class="col-md-5">
    <img src="assets/img/images-500/soldadura.jpg" alt="imagen_1" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
  </div>
</div>

<hr class="featurette-divider">
<!-- /END THE FEATURETTES -->