<nav class="sticky-top navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" >MICAP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#cards">Innovación y Precisión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#headings">Nuestra info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#features">Nuestros Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contactanos</a>
        </li>
      </ul>

    </div>
  </div>
</nav>